<html>

<head>
  <title>Add Exercise</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <h1>Add Exercise</h1>
  <form method="POST" action="/">
    <label>Your exercise: </label>
    <input type="text" name="name">
    <label>What have you done?</label>
    <input type="text" name="done">
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <h2>Exercise List</h2>
  <table>
    {% for exercise in exercises %}
    <tr>
      <td>
        <!-- {{exercise.name}}
        {{exercise.done}} -->
        <!-- add date here automatically-->
      </td>
      <td>
        <form method="POST" action="./update">
          <input type="hidden" value="{{exercise.name}}" name="oldname">
          <input type="hidden" value="{{exercise.done}}" name="olddone">
          <input type="text" value="{{exercise.name}}" name="newname">
          <input type="text" value="{{exercise.done}}" name="newndone">
          <input type="submit" value="Update">
        </form>
      </td>
      <td>
        <form method="POST" action="./delete">
          <input type="hidden" value="{{exercise.name}}" name="name">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>